.button {
    background-color: var(--color-black);
    color: var(--color-primary);
    border-radius: 12px;
    cursor: pointer;
    font-family: "Poppins", sans-serif;
    padding: 10px 16px;
    margin: 14px;
    /* my extra from figma */
    Width: 170px;
    Height: 47px;
    font-size:medium;

}