   .rightNavigation{
       position: absolute;
       /* background-color: red; */
       right: 10px;
       top: 40%;
       z-index: 10;
       transform: translateY(-50%);
       cursor: pointer;
   }